<h1>More informations</h1>

</div>
<ul class="nav nav-pills" id="page_info">
  <li role="presentation" class="active"><a href="#">About me</a></li>
  <li role="presentation"><a href="#">History</a></li>
  <li role="presentation"><a href="#">Future plans</a></li>
</ul>

<button type="button" class="btn btn-default" aria-label="Left Align" id="page_info_margin">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    fotter
  </div>
</nav>