<h1>More informations</h1>

</div>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">About me</a></li>
  <li role="presentation"><a href="#">History</a></li>
  <li role="presentation"><a href="#">Future plans</a></li>
</ul>
